---
layout: default
title: Blog
permalink: /blog/
---

<div class="home">

  <ul class="post-list">
    {% capture cutoff_date %}{{ site.time | date: "%s" | minus: 47335389 }}{% endcapture %}
    {% for post in site.categories.writing <!-- change later to site.posts --> %}
    {% capture post_date %}{{ post.date | date: "%s" }}{% endcapture %}
    {% if post_date > cutoff_date %}
    <li>
      <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
      <p class="post-meta"><i class="fa fa-clock-o"></i> {{ post.content | number_of_words | divided_by: 300 | plus: 1 | ceil }} min</p>
      {{ post.excerpt }}
    </li>
  {% endif %}
  {% endfor %}
  </ul>

  {% include archive.html %}

</div>
