---
layout: default
---

<div class="home">

  <div class="inner-wrapper">

    {% markdown about.md %}

    <script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: 15087285,
        accessToken: '15087285.467ede5.40e2b41931bd41b1ad070045ac8bdf12'
        // clientId: '1f693321b8be43b29cab6bc55b3f59f1'
        // template: '<a class = "avatar" href="{{link}}"><img src="{{image}}" /></a>'
    });
    feed.run();
    </script>
    <div id="instafeed"></div>


  </div>

    <ul class="post-list">
      {% for post in site.projects limit:1 %}
        <li>
          <h1>Latest Work:</h1>
          <h2>{{ post.title }}</h2>
          <div class="inner-wrapper">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            {{ post.excerpt | truncatehtml | truncatewords: 50 }}
            <a href="{{ post.url | prepend: site.baseurl }}">View Project</a>
          </div>
        </li>
      {% endfor %}
    </ul>

    <ul class="post-list">
      {% for post in site.posts limit:1 %}
        <li>
          <h1>Latest Writing:</h1>
          <h2>{{ post.title }}</h2>
          <div class="inner-wrapper">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            {{ post.excerpt | truncatehtml | truncatewords: 50 }}
            <a href="{{ post.url | prepend: site.baseurl }}">Continue Reading</a>
          </div>
        </li>
      {% endfor %}
    </ul>

</div>
