---
layout: default
---

<div class="home">

    {% include intro.html %}

    <ul class="post-list">
      {% for post in site.categories.work limit:1 %}
        <li>
          <h3>Latest Work: {{ post.title }}</h3>
            <div class="post-excerpt">
              {{ post.excerpt }}
              <a href="{{ post.url | prepend: site.baseurl }}">Continue Reading</a>
            </div>
        </li>
      {% endfor %}
    </ul>

    <ul class="post-list">
      {% for post in site.categories.writing limit:1 %}
        <li>
          <h3>Latest Writing: {{ post.title }}</h3>
            <div class="post-excerpt">
              {{ post.excerpt }}
              <a href="{{ post.url | prepend: site.baseurl }}">Continue Reading</a>
            </div>
        </li>
      {% endfor %}
    </ul>

</div>
