<h3>Hi, I'm {{ site.author }}</h3>
<p>I am a designer and engineer living in Knoxville, TN. I studied Mechanical Engineering so I could turn my ideas into realities.</p>
<p>I am married to the beautiful girl in the picture below; her name is Kimberly. She is my best friend. We love to play a good game or to get outside.</p>
<div id="instafeed"></div>
<p>When I'm not at work or spending quality time with my wife, I am probably having fun working on a side-project. If I'm programming it's probably in Ruby and if I'm using CAD it's definitely Onshape. Either way, I'm having fun when I'm learning and creating something new.</p>
<p>Outside of that I try to spend a few weekends with my wife hiking or sailing, though I can’t do the latter nearly as often as I’d like.</p>
<p>I’m currently taking a hiatus from volunteer activities but I hope to soon return to tutoring high school kids in math and science.</p>
<p>I love connecting to new people. Feel free to <a href="mailto:daveseeman12@gmail.com">contact me</a> for any reason!</p>
<p>All the best,<br>Dave</p>

<script type="text/javascript">
var feed = new Instafeed({
  get: 'user',
  userId: 15087285,
  resolution: 'standard_resolution',
  accessToken: '15087285.467ede5.40e2b41931bd41b1ad070045ac8bdf12',
  filter: function(image) {
    return image.tags.slice(1).indexOf('wife')>=0;
  }
});
feed.run();
// clientId: '1f693321b8be43b29cab6bc55b3f59f1'
</script>
