<div class="toggle">
  <h3 id="archive">Archive <i class="fa fa-archive"></i></h3>
  <div>
    <ul class="post-list">
      {% for post in site.categories.archive %}
      <li>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-archive"></i> {{ post.title }}</a></h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class="post-excerpt">
          {{ post.excerpt }}
          <a href="{{ post.url | prepend: site.baseurl }}">Continue Reading</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.toggle').addClass("hidden");

        $('.toggle').click(function() {
            var $this = $(this);

            if ($this.hasClass("hidden")) {
                $(this).removeClass("hidden").addClass("visible");

            } else {
                $(this).removeClass("visible").addClass("hidden");
            }
        });
    });
</script>
