<div class="center" id="contact"> 
<form id="contactform">
  <label for="name">Your Name</label><input type="text" name="name" id="name" required></p>
  <label for="email">Your Email</label><input type="email" name="email" id="email" required></p>
  <label for="comments">Your Message<br/></label><textarea name="message" id="message" required></textarea></p>
  <input type="submit" value="Submit"></p>
</form>
</div>

Parse.initialize("APP_ID", "JS_KEY");
 
var Contactmessage = Parse.Object.extend("Contactmessage");

$(document).ready(function(){
	$("#contactform").on('submit',function(e){
		e.preventDefault();

		var data = {};
		
		data.name = $('#name').val();
		data.email = $('#email').val();
		data.message = $('#message').val();
		

		var contact = new Contactmessage();
		contact.save(data, {
			success: function(){
				$('input[type="submit"]').addClass('success');
				$('input[type="submit"]').after("<span class='success-sent'>Success!</span>");
				$('#contactform')[0].reset();

			},
			error: function() {
				$('input[type="submit"]').css('error');
				$('input[type="submit"]').after("<span class='error-notsent'>Error!</span>");
				
			}
		}); 

	});	
});
