<footer class="site-footer">
  <div class="footer-social inline-list">
    <ul>
      <li>
        <a href="https://twitter.com/{{ site.handle }}">
            <i class="fa fa-twitter fa-inverse"></i>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/{{ site.handle }}">
            <i class="fa fa-instagram fa-inverse"></i>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/{{ site.handle }}">
            <i class="fa fa-linkedin fa-inverse"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/{{ site.handle }}">
            <i class="fa fa-git fa-inverse"></i>
        </a>
      </li>
      <!-- <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-inverse"></i>

        </a>
      </li> -->
    </ul>
  </div>
  <!-- <div class="footer-meta">
    <ul>
      <li><i class="fa fa-copyright"></i> 2014-{{ site.time | date: '%Y' }} {{ site.title }}</li>
    </ul>
  </div> -->
</footer>
