<footer class="site-footer">
  <div class="inline-list">
    <ul>
      <li>
        <a href="https://twitter.com/{{ site.handle }}">
          <!--<i class="fa fa-twitter"></i>-->
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/{{ site.handle }}">
          <!--<i class="fa fa-instagram"></i>-->
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/{{ site.handle }}">
          <!--<i class="fa fa-linkedin"></i>-->
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://github.com/{{ site.handle }}">
          <!--<i class="fa fa-git"></i>-->
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-git fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <!--<i class="fa fa-rss"></i>-->
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-meta">
    <ul>
      <li><i class="fa fa-copyright"></i> 2014-{{ site.time | date: '%Y' }} {{ site.title }}</li>
      <li>Crafted by <a href="{{site.github}}/freelance"><em>Seemingly</em> <strong>Creative</strong></a></li>
    </ul>
  </div>
</footer>
