<footer class="site-footer">
  <div class="inline-list">
    <ul>
      <li>
        <a href="https://twitter.com/{{ site.long_name }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/{{ site.long_name }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/{{ site.long_name }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://github.com/{{ site.short_name }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-git fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-meta">
    <ul>
      <li>Content <i class="fa fa-copyright"></i> 2014-{{ site.time | date: '%Y' }} | {{ site.title }}</li>
      <li>Made :sailboat: in TN</li>
      <li><a href="mailto:{{site.email}}?Subject=Hi%20Dave"><i class="fa fa-envelope"></i> me</a></li>
    </ul>
  </div>
</footer>
