<p>
{% capture cutoff_date %}{{ site.time | date: "%s" | minus: 31556926 }}{% endcapture %}
{% for post in site.posts %} 
{% capture post_date %}{{ post.date | date: "%s" }}{% endcapture %}
{% if post_date >= cutoff_date %}
{{ post.date | date: "%b %-d, %Y" }} - shown<br>
{% else %}
{{ post.date | date: "%b %-d, %Y" }} - hidden<br>
{% endif %}
{% endfor %}
</p>

<!-- for posts, diff(site.time,post.date), if diff>1year, show, endif, endfor -->

<label class="collapse" for="_1">
  <h3 class="archive">Archive <i class="fa fa-archive"></i></h3>
</label>
<input id="_1" type="checkbox">
<div>
  <ul class="post-list">
    {% capture cutoff_date %}{{ site.time | date: "%s" | minus: 31556926 }}{% endcapture %}
    {% for post in site.posts %}
    {% capture post_date %}{{ post.date | date: "%s" }}{% endcapture %}
    {% if post_date >= cutoff_date %}
    {{ post.date | date: "%b %-d, %Y" }} - shown<br>
    <li>
      <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-archive"></i> {{ post.title }}</a></h2>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <div class="post-excerpt">
        {{ post.excerpt }}
        <a href="{{ post.url | prepend: site.baseurl }}">Continue Reading</a>
      </div>
    </li>
    {% else %}
  {{ post.date | date: "%b %-d, %Y" }} - archived<br>
  {% endif %}
  {% endfor %}
  </ul>
</div>
