/**
 * Link Mixins
 */

@mixin white-links {
  a {
    color: $back-color;
    &:hover {
      color: $pop-color;
    }
  }
}

@mixin gray-links {
  a {
    color: $gray-color;
    &:hover {
      color: $pop-color;
    }
  }
}

@mixin blue-links {
  a {
    color: $link-color;
    &:hover {
      color: $text-color;
    }
    &:visited {
      color: $gray-color;
      style: italic;
    }
  }
}

@mixin color-links {
  a {
    color: $brand-color;
    &:hover {
      color: $link-color;
    }
  }
}

/**
 * Archive
 */

 .archive {
  margin: 0 auto;
  padding-bottom: $spacing-unit;
  text-align: center;
}
.collapse{
  display:block;
}
.collapse + input{
  display:none;
}
.collapse + input + *{
  display:none;
}
.collapse+ input:checked + *{
  display:block;
}

/**
 * Tags
 */

.tag-cloud {
  @include gray-links;

  li {
    border: 2px solid $pop-color;
    border-radius: 3px;
    background: $pop-color;
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 20px;
  }
  li:before {
    content: '\f02b';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1em;
  }
}

.tag-list {
    text-align: left;
    list-style: none;
    margin: 0px 0px $spacing-unit 0px;
    width: 100%;
    li {
      display: block;
    }
}

.tag-meta {
  color: $gray-color;
  display: inline-block;
  width: 150px;
}

.tag-link {
  margin-left: 10px;
  font-family: $head-font;
}

/**
 * Intro
 */

#instafeed img {
  width: $avatar-size;
  height: $avatar-size;
  margin: 10px auto;
  -webkit-border-radius: $avatar-size / 2;
  -moz-border-radius: $avatar-size / 2;
  border-radius: $avatar-size / 2;
}

/**
 * Alignment
 */

 .center {
   margin: auto auto;
   text-align: center;
 }

 .inline-list {
   ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
     li {
       display: inline;
     }
   }
 }

 hr {
   width: 25%;
   margin: 0 auto;
   margin-bottom: $spacing-unit*1.2;
   margin-top: $spacing-unit;
 }
 
 
 /**
 * Forms
 */
 
 .container {
	margin: 0 auto;
	width: 25em;
	float:none;
	text-align: left;
	clear:both;
}
form {
	border: 1px solid #7f8c8d;
	padding: 3em;
	margin-top: 5em;
	-webkit-box-sizing:content-box;
		-moz-box-sizing:content-box;
			box-sizing:content-box;

}
input[type="submit"] {
	padding:10px;
	font-size: 1.3em;
	text-transform: uppercase;
	/* letter-spacing:0.2em; */
	color:#2c3e50;
	background:#ecf0f1;
	border:none;
	cursor: pointer;

}
input[type="submit"].success {
	border:none;
	background:#27ae60;
	color:#ecf0f1;
	padding:10px 15px;					
}
.success-sent {
	
	font-size: 1.3em;
	text-transform: uppercase;
	border:none;
	/* background:#27ae60; */
	color:#ecf0f1;
	padding: 4px 15px;
}
input[type="submit"].error {
	border:none;
	background:#e74c3c;
	color:#ecf0f1;

}
input[type="text"],
input[type="email"],
textarea {
	background:transparent;
	border:2px solid #ecf0f1;
	padding: 1em 2em;
	font-size: 0.8em;
	color:#ecf0f1;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	background:#ecf0f1;
	color:#2c3e50;
	border:none;

	
}
label {
	display:block;
	font-size:1.4em;
	line-height: 1.7em;
	letter-spacing: 0.1em

}
