/**
* Site footer
*/

.site-footer {
  text-align: center;
  margin: 0px auto;
}

.footer-social {
  display: inline-block;
  a {
    color: $brand-color;
    &:hover {
      color: $pop-color;
      text-decoration: underline;
    }
  }
  ul {
    margin: 0px auto;
  li {
      display:inline;
    }
  }
}

.footer-meta {
  text-align: center;
  font-size: $small-font-size;
  color: $gray-light;
  padding-top: $spacing-unit/2;
  padding-bottom: $spacing-unit;
}
