/**
* Site footer
*/

.site-footer {
  width: 80%;
  text-align: center;
  margin: 0px auto;
  padding-bottom:$spacing-unit;
}

.footer-social {
  ul {
    margin: 0px auto;
  li {
      display:inline;
    }
  }
}
