/**
* Site footer
*/

.site-footer {
  // border-top: 2px solid $pop-color;
  padding: $spacing-unit;
  clear:both;
  margin: 0px auto 0px auto;
  text-align:center;
}

.footer-social {
  ul {
    li {
      display:inline;
    }
  }
}
