/**
* Site header
*/

.site-header {
  height: 100%;
  width: 100%;
  display: table;
  background-color: $brand-color;
  font-family: $head-font;
  @include white-links;
}

.site-masthead {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.site-title {
  color: $back-color;
  display: inline-block;
  margin: $spacing-unit auto;
  padding: 0 $spacing-unit/2;
  border: 5px solid $back-color;
}

.site-nav {
  color: $gray-color;
}
