/**
* Site header
*/

.site-header {
  height: 50%;
  background-color: $brand-color;
  font-family: $head-font;
  @include white-links;
}

.site-title {
  color: $back-color;
  line-height: $line-height;
  padding-top: 10%;
  padding-bottom: 5px;
}

.site-nav {
  font-size: $small-font-size;
  color: $gray-color;
}
