/**
* Site header
*/

.site-header {
  height: 100%;
  width: 100%;
  display: table;
  background-color: $back-color;
  font-family: $head-font;
  @include color-links;
}

.site-masthead {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  .spacer {
    height: $spacing-unit;
    width: 100%;
  }
}

.site-title {
  color: $brand-color;
  padding-left: 1px;
  padding-right: 1px;
  span {
    display: block;
    margin: 0 auto;
    border: 5px solid $brand-color;
  }
}

.site-nav {
  color: $gray-color;
}
