/**
 * Intro & Instafeed
 */

#intro {
  text-align: justify;
  word-break: break-all;
  padding-bottom: $spacing-unit;
}

#instafeed img {
  float: right;
  width: $avatar-size;
  height: $avatar-size;
  margin: 0px 0px 10px 20px;
  -webkit-border-radius: $avatar-size / 2;
  -moz-border-radius: $avatar-size / 2;
  border-radius: $avatar-size / 2;
}
