/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    text-align: left;
    font-size: 20px;
}

.post-list {
    text-align: left;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    text-align: left;
    font-size: $small-font-size;
    color: $gray-light;
}

.post-link {
    display: block;
    font-size: 24px;
    text-align: left;
}

.rss-subscribe {
  width: 150px;
  margin: 20px auto 0px auto;
  text-align: center;
  border: 3px solid $pop-color;
}

.project-list {
    text-align: left;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.project-meta {
    text-align: left;
    font-size: $small-font-size;
    color: $gray-light;
}

.project-link {
    display: block;
    font-size: 24px;
    text-align: left;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    a {
      color: $pop-color;
      text-decoration: underline;

      &:hover {
        color: $text-color;
        text-decoration: none;
      }

      &:visited {
        color: $text-color;
      }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
