/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    text-align: left;
    font-size: 20px;
}

.post-list {
    text-align: left;
    list-style: none;
    margin: 0px 0px $spacing-unit 0px;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
  text-align: left;
  font-size: $small-font-size;
  color: $gray-light;
  margin: 0px auto;

  li {
    display: inline;
  }

  a {
    color: $gray-light;
    &:hover {
      color: $pop-color;
    }
  }
}

.post-link {
    display: block;
    font-size: 24px;
    text-align: left;
}

.post-excerpt {
  display: block;
  line-height: $base-line-height;
}

.archive {
  margin: 0px auto 0px auto;
  padding-bottom: $spacing-unit;
  text-align: center;
}

.tag-cloud {
  a {color: #ddd;}
  li {
    border: 2px solid $pop-color;
    border-radius: 3px;
    background: $pop-color;
    display: inline-block;
    margin-right: 1.1em;
    padding-left: 1.1em;
  }
  li:before {
    content: '\f02b';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1em;
  }
}

.tag-list {
    text-align: left;
    list-style: none;
    margin: 0px 0px $spacing-unit 0px;
    li {
      display: block;
    }
}

.tag-meta {
  color: $gray-light;
}

.tag-link {
  font-family: $secondary-font-family;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    a {
      color: $pop-color;

      &:hover {
        color: $brand-color;
        text-decoration: underline;

      }

      &:visited {
        color: $pop-color;
      }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
