/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    text-align: left;
    font-size: 20px;
}

.post-list {
    text-align: left;
    list-style-type:none
    margin: 0px 0px $spacing-unit 0px;
    @include post-links;
}

.post-meta {
  text-align: left;
  font-size: $small-font-size;
  color: $gray-color;
  margin: 0px auto;
  @include gray-links;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-content {
    margin-bottom: $spacing-unit;
    @include blue-links;
}
