/**
 * Link Mixins
 */

@mixin white-links {
  a {
    color: $back-color;
    &:hover {
      color: $pop-color;
    }
  }
}

@mixin gray-links {
  a {
    color: $gray-color;
    &:hover {
      color: $pop-color;
    }
  }
}

@mixin blue-links {
  a {
    color: $link-color;
    &:hover {
      color: $text-color;
    }
    &:visited {
      color: $gray-color;
    }
  }
}

@mixin post-links {
  a {
    color: $link-color;
    &:hover {
      color: $gray-color;
    }
  }
}

@mixin color-links {
  a {
    color: $brand-color;
    &:hover {
      color: $link-color;
    }
  }
}

@mixin text-links {
  a {
    color: $text-color;
    &:hover {
      color: $text-color;
    }
  }
}

