---
layout: default
permalink: /projects/:path/
---
<div class="post">

  <header class="post-header">
    <h2>{{ page.title }}</h2>
    <div class="inline-list">
      <ul class="post-meta">
        <li>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} | </li>
        {% for tag in page.tags %}<a href="/tags/#{{tag | replace: " ", "+" }}"><li><i class="fa fa-tag"></i> {{ tag }} </li></a>{% endfor %}
      </ul>
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% include comments.html %}
  
  {% assign match = false %}
  {% for post in site.posts %}{% if post.project == page.title %}{% assign match = true %}{% endif %}{% endfor %}
  {% if match == true %}<h3>See Related Posts:</h3><ul>{% for post in site.posts %}<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>{% endfor %}</ul>{% endif %}

</div>
